ion-toolbar {
  --background: var(--ion-color-dark);
  --color: var(--ion-color-dark-contrast);
  padding: 0.25rem 0;
}

img {
  height: 3rem;
  margin: 0 0.5rem;
}

ion-title {
  padding: 0;
}

.title-container {
  display: flex;
}

.title-button {
  --padding-start: 0;
  text-transform: none;
  display: flex;
  align-items: center;
  font-size: 1.3rem;

  img, div {
    display: block;
    height: 100%;
  }
}
