// -- content + list styles --

ion-content {

  --background: var(ion-color-light);

  ion-list {
    height: 100%;
  }

  .media-item {
    position: relative;
    margin: 1rem;
  }
}

// -- Recording item styles --

ion-item {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  border-radius:1rem;

  .text-small {
    font-size: 0.9rem;
  }

  .text-bold {
    font-weight: bold;
  }
  
  ion-label {
    width: 100%;
    padding: 0 4px;
  }
  
  .audio-controls {
    padding-left: 0.5rem;
    width: 2.5rem;
  }
  
  .media-meta-secondary {
    text-align: right;
  }
  
  .item-inner {
    border: none !important;
  }
  
  .media-button-more {
    color: var(--ion-color-light);
    font-size: 1.2em;
    position: relative;
    z-index: 2;
  }
}

// -- Media menu styles --

.media-menu-more {
  position: absolute;
  right: 0;
  top: 4rem;
  z-index: 2;
  width: 10rem;
  color: var(--ion-color-light);

  ion-list {
    --background: var(--ion-color-dark);
    padding: 0;
  }

  ion-item {
    --background: var(--ion-color-dark);
    border-radius: 0;
    position: relative;
    text-align: center;
  }

  button {
    background: none;
    color: var(--ion-color-light);
    border: none;
    font-size: 1.2rem;
  }
  ion-icon {
    margin-right: 1rem;
  }
}

// -- No recordings styles --

.no-recordings {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-secondary);
  font-size: 2rem;

  p {
    text-align: center;
    margin: 0 2rem;
    padding: 0;
  }
}

app-footer {
  ion-button {
    flex: 1;
    max-width: 50%;
  }

  ion-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}
