<!-- Workaround for back button (https://stackoverflow.com/questions/63005305/ion-back-button-is-not-showing-up-in-toolbar-in-ionic-5) -->
<ion-header>
  <er-header>
    <ion-back-button></ion-back-button>
  </er-header>  
</ion-header>

<ion-content>
  <ng-container *ngIf="medias$ | async as medias">
    <ion-list *ngIf="medias.length; else noRecordings" class="content-container">
      <div class="media-item" *ngFor="let media of medias; let i = index">
        <er-recording-item 
          [media]="media" 
          [isSelected]="media.id === selectedMediaId"
          (selectAudio)="onSelectAudio(media)"
          (deleteAudio)="onDeleteAudio(media)"
        ></er-recording-item>
      </div>
    </ion-list>
  </ng-container>
</ion-content>

<er-footer>
  <ion-button shape="round" color="tertiary" tappable [routerLink]="['/record']">
    <ion-icon name="add-outline"></ion-icon>
    New Recording
  </ion-button>
</er-footer>

<ng-template #noRecordings>
  <div class="content-container no-recordings">
    <p>You currently have no recordings.</p>
  </div>
</ng-template>
  