page-record {
  .timer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .timer {
    margin: auto;
    font-size: 4rem;
    background-color: map-get($colors, primary);;
    color: map-get($colors, light);;
    width: 35vw;
    height: 35vw;
    line-height: 35vw;
    border-radius: 50%;
  }
}
