<ng-container>

<ion-header (click)="hideMediaMenu()">
  <ion-navbar>
    <ion-title>
      Easy Recorder
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content (click)="hideMediaMenu()">
  <ion-list class="content-container" *ngIf="medias && medias.length; else noRecordings">
    <div class="media-item" *ngFor="let media of medias; let i = index">
      <button [ngClass]="{ 'active': mediaIsSelected(media) }" ion-item (click)="onAudioClick(media)">
          <div class="audio-controls" item-start>
              <ion-icon *ngIf="!mediaIsPlaying(media)" name="play"></ion-icon>
              <ion-icon *ngIf="mediaIsPlaying(media)" name="pause"></ion-icon>
          </div>
          <ion-label class="media-meta-primary">
            <div class="text-bold">{{ media.name }}</div>
            <div class="text-small">{{ media.dateTime | date : 'dd/MM/yyyy'}}</div>
          </ion-label>
          <div class="media-meta-secondary" *ngIf="!mediaIsSelected(media)" item-end>
            <div class="text-bold">{{ media.length | timer }}</div>
            <div class="text-small">{{ media.blob.size/ 10000000 | number:'1.2-2' }}MB</div>
          </div>
          <div item-end>
            <button class="media-button-more" (click)="toggleMediaMenu($event, media)">
                <ion-icon name="ios-more"></ion-icon>
            </button>
          </div>
          <ion-range *ngIf="mediaIsSelected(media)" min="0" [max]="media.length" [(ngModel)]="currentAudio.currentTime" color="secondary">
            <span range-left>{{ $currentAudioTime | async | timer }}</span>
            <span range-right>{{ media.length | timer }}</span>
          </ion-range>
        </button>
        <div *ngIf="media.showMenu" class="media-menu-more">
          <ion-list>
            <ion-item>
              <button (click)="onDeleteClick(media)"><ion-icon name="ios-trash"></ion-icon>Delete</button>
            </ion-item>
          </ion-list>
        </div>
      </div>
  </ion-list>
</ion-content>

<ion-footer (click)="hideMediaMenu()">
  <ion-toolbar>
    <div class="content-container">
      <button ion-button color="secondary" tappable navPush="RecordPage">Record</button>
    </div>
  </ion-toolbar>
</ion-footer>

</ng-container>

<ng-template #noRecordings>
  <div class="content-container no-recordings">
    <p>You currently have no recordings.</p>
  </div>
</ng-template>
