page-home {

  .range-md {
    padding-left: 0;
    padding-top: 0;
  }

  ion-label {
    width: 100%;
    padding: 0 4px;
  }

  .audio-controls {
    padding-left: 0.5rem;
    width: 2.5rem;
  }
}
