<!-- Workaround for back button (https://stackoverflow.com/questions/63005305/ion-back-button-is-not-showing-up-in-toolbar-in-ionic-5) -->
<ion-header>
  <app-header>
    <ion-back-button></ion-back-button>
  </app-header>  
</ion-header>

<ion-content padding>
  <div class="timer-container">
    <div *ngIf="timeElapsed" class="timer glow">{{ timeElapsed | async | timer }}</div>
    <div *ngIf="!timeElapsed" class="timer">{{ 0 | timer }}</div>
  </div>
</ion-content>

<app-footer>
  <ng-container *ngIf="currentStatus === recorderStatuses.NotStarted">
    <ion-button shape="round" color="tertiary" tappable (click)="startRecord()">
      <ion-icon name="ellipse"></ion-icon>
      Start
    </ion-button>
  </ng-container>
  <ng-container *ngIf="currentStatus === recorderStatuses.Recording">
    <ion-button shape="round" color="tertiary" tappable (click)="stopRecord()">
      <ion-icon name="square"></ion-icon>
      Stop
    </ion-button>
    <ion-button shape="round" color="secondary" tappable (click)="cancelRecord()">
      <ion-icon name="close"></ion-icon>
      Cancel
    </ion-button>
  </ng-container>
</app-footer>
