<app-header></app-header>

<ion-content padding>
  <div class="timer-container">
    <div *ngIf="timeElapsed" class="timer glow">{{ timeElapsed | async | timer }}</div>
    <div *ngIf="!timeElapsed" class="timer">{{ 0 | timer }}</div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="currentStatus === recorderStatuses.NotStarted">
    <div class="content-container">
      <ion-button color="secondary" tappable (click)="startRecord()">Start</ion-button>
    </div>
  </ion-toolbar>
  <ion-toolbar *ngIf="currentStatus === recorderStatuses.Recording">
    <div class="content-container">
      <ion-button color="secondary" tappable (click)="stopRecord()">Stop</ion-button>
      <ion-button color="secondary" tappable (click)="cancelRecord()">Cancel</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
