ion-item {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  border-radius:1rem;

  .text-small {
    font-size: 0.9rem;
  }

  .text-bold {
    font-weight: bold;
  }
  
  .audio-controls {
    padding-left: 0.3rem;
    width: 2.5rem;
    margin-right: 0;
    font-size: 1.2rem;
  }
  
  .media-meta {
    font-size: 1rem;
  }

  .media-meta-secondary {
    text-align: right;
  }

  .media-item-content {
    width: 100%;
  }

  .media-meta {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  
  .media-button-more {
    color: var(--ion-color-light);
    font-size: 1.2em;
    position: relative;
    z-index: 2;
    --padding-end: 0;
  }

  ion-range {
    padding: 0;
    font-size: 0.8rem;
  }

  .menu-button-container {
    margin: 0;
  }
}

// -- Media menu styles --

.media-menu-more {
  position: absolute;
  right: 0;
  top: 4rem;
  z-index: 2;
  width: 10rem;
  color: var(--ion-color-light);

  ion-list {
    --background: var(--ion-color-dark);
    padding: 0;
  }

  ion-item {
    --background: var(--ion-color-dark);
    border-radius: 0;
    position: relative;
    text-align: center;
  }

  ion-button {
    background: none;
    color: var(--ion-color-light);
    border: none;
    font-size: 0.9rem;
  }
  ion-icon {
    margin-right: 1rem;
  }
}